/* FEED*/
    
  .containerPost {
    width: 100%;
  height: 100vh;
  background-color: #2e132c;
  }


  .containerCreatePost{
    display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 20px;
  flex-wrap: wrap;
   background-color: #150714;
   border-bottom: 3px solid #60265b; 
    
  }

  
  
  .ContainerImgPost {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
  }
  
  .ContainerContadorPost {
    display: flex;
    justify-content: space-around;

  }

  .contMax {
    margin-left: 19rem;
  }


  .textMax {
    margin-right: 14rem;
    color: #f50d5a;
  }
  
  .ContainerBtnPost {
    display: flex;
    justify-content: flex-end;
    margin-right: 25rem;
  }
  
  .imgAvatarPost {
    width: 3rem;
    border-radius: 150px;
    margin: 0.5rem, 0.5rem;
  }
  
  .textPost {
   
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
    font-family: "Fira Code", monospace;
    width: 28rem;
    height: 5rem;
    background: #2f112d;
    color: rgb(222, 140, 236);
    resize: none;
    overflow-y: scroll;
  }
  
  .textPost::-webkit-scrollbar {
    width: 6px;
  }
  
  .textPost::-webkit-scrollbar-thumb {
    background: #00da76;
    border-radius: 4px;
  }
  
  .ContainerBtnPost button {
   
    background-color: #2f112d;
    color: #150714;
    font-weight: bold;
    font-family: "Silkscreen";
    border: 0;
    width: 7rem;
    height: 1.5rem;
    margin: 1rem;
    cursor: pointer;
  }

  hr {
    
    margin-left: 25rem;
    margin-right: 25rem;
    height: 3px;
    border-width: 0;
    background-color: #60265b;
    
  }
  


  .containerShowPost {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
  
  .userShowPost {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tabUser {
    margin-left: 1rem;
    padding-top: 5px;
    text-align: center;
    width: 9rem;
    height: 1.5rem;
    background: #FFEA5C;
    font-family: "Silkscreen";
    color: #2e132c;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.333333px;
  }
  
  .textShowPost {
    margin-left: 31rem;
    margin-right: 25rem;
  }
  
  .basura {
    cursor: pointer;
    align-items: center;
    width: 20px;
    margin-left: 18rem;
  }
  
  .containerliked {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 31rem;
  }
  
  .iconLiked {
    cursor: pointer;
    width: 1.5rem;
    margin-top:1rem ;
    margin-bottom: 1rem;
  }
  
  .cantliked {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top:1rem ;
  }