.containerHeader {
  background: #250c23;
  }
  
  .imgAvatar {
    width: 2rem;
    border-radius: 150px;
  }
  
  .headerDevs {
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
  }
  
  .imgLogo {
    width: 33px;
    margin-left: 10rem;
    margin-right: 9rem;
  }
  
  .imgName {
    width: 75px;
    height: 15px;
  }
  
  .imgName2 {
    width: 85px;
    height: 14px;
  }