/*Login */
.containerLogin {
    display: flex;
    align-items: center;
  }
  
  .containerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
  }
  
  .containerLogo img {
    padding-bottom: 25%;
    width: 120%;
  }
  
  h1 {
    font-family: "Silkscreen", sans-serif;
    font-family: "Silkscreen Expanded", sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: -0.333333px;
  }
  .containerAcceso {
    padding-left: 142px;
    padding-right: 142px;
  
    width: 50%;
  }
  .containerAcceso p {
    font-size: 20px;
  }
  
  .btnGoogle button {
    height: 58px;
    width: 367px;
    border-radius: 10px;
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }