/*Login */
.containerLogin {
    display: flex;
    align-items: center;
  }
  
  .containerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
  }
  
  .containerLogo img {
    padding-bottom: 25%;
    width: 120%;
  }
  
  h1 {
    font-family: "Silkscreen";
    font-size: 30px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: -0.333333px;
    margin-bottom:2rem;
  }

  .text_login{
    padding-bottom: 2rem;
   
  }

  .containerAcceso {
    padding-left: 142px;
    padding-right: 142px;
    width: 50%;
  }
  .containerAcceso p {
    font-size: 20px;
  }
  
  .btnGoogle {
    color: white;
    cursor: pointer;
  }

  .btnGoogle img{
    width:18rem ;
  }

 