@import url("http://fonts.cdnfonts.com/css/silkscreen");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
  }
  
  body {
    background: #2e132c;
    font-family: "Fira Code", monospace;
    color: white;
    width: 100vw;
  }
  
  
 
  
  
  
  
  
  
  
  